@import '../../default_variables.scss';

.pagination {
  padding-top: 3rem;

  .pagination__body {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .pagination__left {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .pagination__center {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
    }

    .pagination__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .pagination__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: .8rem;
    line-height: 1rem;
    color: $button_primary_background;
    cursor: pointer;

    svg {
      fill: $button_primary_background;
    }

    &:hover {
      color: $button_primary_hover_background;

      svg {
        fill: $button_primary_hover_background;
      }
    }

    &:active {
      color: $button_primary_active_background;

      svg {
        fill: $button_primary_active_background;
      }
    }
  }

  &--dark {
    .pagination__btn {
      color: #fff;

      svg {
        fill: #fff;
      }

      &:hover {
        color: #9aa6ff;

        svg {
          fill: #9aa6ff;
        }
      }
    }
  }
}