@import '../../../default_variables.scss';

.center {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.main {
  padding-bottom: 1rem;
  min-height: 85vh;

  .wrapper {
    .main__body {
      display: flex;
      flex-direction: column;

      .main__button-back {
        margin-left: 2rem;
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .main__title {
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        text-align: left;
        text-transform: uppercase;
        font-size: 2.2rem;
        color: $text_color_page_title;
        user-select: none;
        background: #c0c0c03f;
      }

      .main__list {
        padding-top: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        list-style-type: none;
        border-top: 1px solid #0101;

        @media (max-width: 780px) {
          .skelet {
            width: 50%;
          }
        }

        @media (max-width: 550px) {
          .skelet {
            width: 100%;
          }
        }
      }

      .main__null {
        min-height: 30vh;

        p {
          font-size: 1.1rem;
        }

        p:first-child {
          padding: 1.5rem;
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: 780px) {
      .main__body {

        .main__title {
          text-align: center;
          font-size: 1.7rem;
        }

        .main__null {
          p {
            font-size: 1rem;
          }

          p:first-child {
            font-size: 2rem;
          }
        }

        .main__list {
          margin: 0 auto;
        }
      }
    }
  }
}