@import '../../../default_variables.scss';

.center {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.main {
  padding-bottom: 1rem;
  min-height: 80vh;

  .wrapper {
    .main__body {
      display: flex;
      flex-direction: column;

      .main__title {
        margin: 1rem 0;
        padding: 1rem 2rem;
        text-align: left;
        text-transform: uppercase;
        // font-family: $font_page_title;
        font-size: 2.1rem;
        color: $text_color_page_title;
        user-select: none;
        background: #f6e5cb;
      }

      .main__list {
        padding-top: 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style-type: none;
        border-top: 1px solid #0101;
      }

      .main__null {
        min-height: 35vh;

        p:first-child {
          font-weight: 700;
          font-size: 1.5rem;
        }
      }
    }

    @media (max-width: 780px) {
      .main__body {

        .main__title {
          text-align: center;
          font-size: 1.7rem;
        }

        .main__null {
          p {
            font-size: 1rem;
          }

          p:first-child {
            font-size: 2rem;
          }
        }

        .main__list {
          margin: 0 auto;
        }
      }
    }
  }
}