@import '../../../default_variables.scss';

.cart {
  min-height: 87vh;

  @media (max-width: 880px) {
    min-height: 90vh;
  }
  @media (max-width: 550px) {
    min-height: 91vh;
  }

  .wrapper {
    .cart__body {
      display: flex;
      flex-direction: column;

      .cart__button-back {
        margin-left: 2rem;
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .cart__container {
        .cart__total {
          padding-right: 2rem;
          display: flex;
          align-items: center;
          justify-content: end;
          font-family: $font_montserrat;
          font-size: 1.1rem;

          .cart__order {
            display: flex;
            padding: 1rem .5rem;
            align-items: center;
            justify-content: center;
            font-family: $font_montserrat;
            font-size: 1.1rem;
            border: none;
            outline: none;
            cursor: pointer;
            border-radius: 0.4rem;
            background-color: rgba(0, 0, 0, .8);
            color: #fff;

            span {
              margin-left: .3rem;
              font-weight: 700;
            }

            &:active {
              transform: scaleX(.99);
            }
          }
        }

        .cart__title {
          margin-bottom: 1rem;
          padding: 1rem 2rem;
          text-align: left;
          text-transform: uppercase;
          font-size: 2.2rem;
          color: $text_color_page_title;
          user-select: none;
          background: #c0c0c03f;
        }

        .cart__list {
          display: flex;
          flex-flow: column;

          .cart__null {
            font-family: $font_montserrat;
            min-height: 30vh;
            padding: 1.5rem;
            font-weight: 500;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}