@import '../../../default_variables.scss';

.user {
  min-height: 87vh;

  @media (max-width: 880px) {
    min-height: 90vh;
  }

  @media (max-width: 550px) {
    min-height: 91vh;
  }

  .wrapper {
    .user__body {
      display: flex;
      flex-direction: column;

      .user__button-back {
        margin-left: 2rem;
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .user__title {
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        text-align: left;
        text-transform: uppercase;
        font-size: 2.2rem;
        color: $text_color_page_title;
        user-select: none;
        background: #c0c0c03f;
      }

      .user__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;

        .user__avatar {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 20vw;
            height: 20vw;
            background-color: #000000b0;
            border-radius: 50%;
          }
        }

        .user__info {
          margin-top: 2rem;
          display: flex;
          flex-flow: column;
          align-items: center;
          user-select: none;

          .user__block {
            width: 100%;
            padding: .5rem 0.5rem;
            display: flex;
            flex-flow: row;
            justify-content: end;
            font-family: $font_montserrat;

            &:nth-child(odd) {
              background-color: rgba(236, 235, 235, 0.4);
            }

            span:last-child {
              min-width: 30vw;
              text-align: left;
              margin-left: 1rem;
              font-weight: 700;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
            }
          }
        }
      }
    }
  }
}