.redditst0 {
  fill: #4267B2;
}

.redditst1 {
  fill: url(#SVGID_1_);
}

.redditst2 {
  fill: #FFFFFF;
}

.redditst3 {
  fill: #C2191E;
}

.redditst4 {
  fill: #1DA1F3;
}

.redditst5 {
  fill: #FEFE00;
}

.redditst6 {
  fill: #25D366;
  stroke: #FFFFFF;
  stroke-width: 5;
  stroke-miterlimit: 10;
}

.redditst7 {
  fill: #CB2027;
}

.redditst8 {
  fill: #0077B5;
}

.redditst9 {
  fill: url(#SVGID_2_);
}

.redditst10 {
  fill: url(#SVGID_3_);
}

.redditst11 {
  fill: #FF004F;
}

.redditst12 {
  fill: #00F7EF;
}

.redditst13 {
  fill: #5181B8;
}

.redditst14 {
  fill: #395976;
}

.redditst15 {
  fill: #F58220;
}

.redditst16 {
  fill: #E6162D;
}

.redditst17 {
  fill: #FF9933;
}

.redditst18 {
  fill: #FF4500;
}

.redditst19 {
  fill: #0F88EB;
}