@import '../../default_variables.scss';

.tabs {
  margin-top: 2rem;

  @media (min-width: 550px) {
    background-color: rgba(236, 235, 235, 0.7);
  }

  @media (max-width: 550px) {
    margin-top: 0;
  }

  .tabs__list {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    border-bottom: $border_main;
    font-size: 1.1rem;

    .tabs__item {
      padding: 1rem;
      border-bottom: 1px solid transparent;
      transition: all ease-in-out .2s;
      cursor: pointer;
    }

    .tabs__item--active {
      font-weight: 600;
      border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    }
  }

  .tabs__info {
    margin: 1rem;
    height: 8rem;
    overflow: auto;
    border-bottom: $border_main;
    font-size: 1.1rem;

    @media (max-width: 550px) {
      height: 13rem;
    }

    .tabs__text {
      text-align: left;
      margin: 0 2rem;

      a {
        margin-left: 0;
        justify-content: flex-start;
        text-decoration: none;
      }
    }
  }

  .tabs__social {
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-flow: row;
    justify-content: end;

    .tabs__icon {
      margin: 0 .2rem;
      width: 2.2rem;
      height: 2.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .tabs__link {
        width: 100%;
        height: 100%;

        svg {
          width: 100%;
        }

        .dots {
          position: relative;
          top: 9px;
        }

        @media (max-width: 550px) {
          margin: 0 .2rem;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}