@import '../../default_variables.scss';

.cartbook {
  min-height: 35vh;
  margin: 1rem 0;
  padding: 1rem 2rem 1rem 1rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(236, 235, 235, 0.7);

  .cartbook__remove {
    margin-bottom: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;

    &:active {
      background-color: rgba(0, 0, 0, .8);
    }
  }

  .cartbook__present {

    .cartbook__link {

      .cartbook__image {
        background-color: $background_secondary;
      }
    }
  }

  .cartbook__info {
    width: -webkit-fill-available;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    user-select: none;

    .cartbook__title {
      padding: 1rem 2rem;
      font-family: $font_card_title;
    }

    .cartbook__subtitle {
      padding: 0 1rem;
    }
  }

  .cartbook__market {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;

    .cartbook__price {
      margin-bottom: 2rem;
      font-size: 1.3rem;
      font-weight: 700;
      font-family: $font_montserrat;
      user-select: none;
    }
  }

}