@import '../../default_variables.scss';

.myslider {
  width: 85%;
  margin: 1rem auto;
  position: relative;

  .myslider__top {
    display: flex;
    justify-content: center;
    align-items: center;

    .myslider__title {
      text-transform: uppercase;
      font-size: 2.2rem;
      color: $text_color;
      padding: 1rem;
    }

    @media (max-width: 550px) {
      font-size: 1.7rem;
    }
  }

  .myslider__body {

    .slick-slider {
      .slick-list {
        padding-left: 3rem;
        @media (max-width: 780px) {
          padding-left: 2rem;
        }
      }

      button {
        &::before {
          font-size: 1.6rem;
          color: black;
        }
      }
    }
  }
}