@import '../../default_variables.scss';

.header__search {
  position: relative;
  width: 50%;
  height: 2.5rem;
  display: flex;

  input {
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: $border_main;
    border-radius: 0.3rem;
    transition: background, border ease-in-out .2s;
    background-color: transparent;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent
  }

  svg {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 2;
    fill: $icon_color;
  }
}

.header__search:hover {
  cursor: pointer;

  input {
    cursor: pointer;
    border: $border_hover;
    background-color: rgb(250, 250, 250);
  }
}

.header__search:active {
  input {
    border: $border_active;
  }
}

@media (max-width:780px) {

  .header__search {
    margin-left: 1rem;
    max-width: 40%;
  }
}

@media (max-width: 450px) {
  .header__search {
    input::-webkit-input-placeholder {
      color: transparent
    }
  }
}