@import '../../default_variables.scss';

.header__search {
  position: relative;
  width: 50%;
  height: 2.5rem;
  display: flex;

  input {
    width: 100%;
    padding: .5rem 2rem .5rem 1rem;
    outline: none;
    color: #fff;
    border: none;
    border-radius: .3rem;
    transition: all ease-in-out .15s;
    background-color: #be945d;
    font-family: $font_montserrat;
    font-size: 1rem;
  }

  input::placeholder {
    color: #fff;
  }

  svg {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 2;
    fill: #fff;
  }
}

.header__search:hover {
  input{
    // border-color: rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
    color: $text_color;
    cursor: pointer;
  }

  input::placeholder {
    color: #c6a57a;
  }

  input:focus::-webkit-input-placeholder {
    color: transparent
  }

  svg {
    fill: #c6a57a;
  }
}



.header__search:focus {
  input {
    // border-color: rgb(210, 210, 210);
    background-color: rgb(255, 255, 255);
  }
}


@media (max-width:780px) {

  .header__search {
    margin-left: 1rem;
    max-width: 40%;

    input {
      padding: 0 0 0 .4rem;
    }

    svg {
      right: .4rem;
    }
  }
}

@media (max-width: 450px) {
  .header__search {
    input::-webkit-input-placeholder {
      color: transparent
    }
  }
}