@import '../../default_variables.scss';

.header {
  // position: fixed;
  // background-color: rgb(245, 245, 245);
  width: 100%;

  .wrapper {
    max-width: 75rem;
    padding: 0 1rem;

    .header__body {
      width: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: $border_main;
      background-color: rgb(218 150 28);

      a {
        text-decoration: none;
      }

      .header__logo {
        padding: 0.3rem;
        width: 100%;
        font-size: 1.6rem;
        font-family: $font_logo;
        text-transform: uppercase;
        color: $text_color_logo;
        border: 1px solid transparent;
        border-radius: .3rem;
        transition: all ease-in-out .15s;

        @media (min-width: 780px) {
          &:hover {
            border-color: rgb(210, 210, 210);
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  .header {
    .wrapper {
      padding: 0;

      .header__body {
        padding: 1rem .5rem;

        .header__logo {
          font-size: 1.2rem;
        }
      }
    }
  }
}