@import '../../../default_variables.scss';

.select-book {
  .wrapper {
    .select-book__body {
      display: flex;
      flex-direction: column;

      .select-book__link{
        margin-left: 2rem;
        align-self: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}