@import '../../default_variables.scss';

.footer {
  .wrapper {
    .footer__body {
      width: 100%;
      padding: 1rem;
      padding-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      color: #fff;
      border-top: $border_main;
      background-color: #c6a57a;
      font-family: $font_montserrat;

      p:first-child {
        position: relative;
        padding-left: 1.2rem;
      }

      p:first-child::before {
        content: "\00A9";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}