@import '../../default_variables.scss';

.footer {
  padding-top: 3rem;

  .wrapper {
    .footer__body {
      width: 100%;
      padding: 1rem;
      padding-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      color: #fff;
      border-top: $border_main;
      background-color: rgb(218 150 28);
    }
  }
}