@import './default_variables.scss';

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #f0f0ee;
  background-image: url('./assets/img/main_background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  font-family: $font_card;

  @media (max-width: 550px) {
    background-image: none;
  }
}

.wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (max-width: 780px) {
  .wrapper {
    padding: 0;
  }
}