@import './assets/fonts/fonts.scss';
// ? Text Style
$font_raleway: Raleway !default;
$font_montserrat: Montserrat !default;
$font_logo: Yeseva One !default;
$font_page_title: Yeseva One !default;
$font_card_title: Aboreto !default;
$font_card: Playfair Display !default;
$text_color_logo: #fff !default;
$text_color_page_title: rgb(40 40 40 / .8) !default;
$text_color: rgba(0, 0, 0, 0.7) !default;
$text_inactive_color: rgba(40, 40, 40, .9) !default;
$text_inactive_hover_color: $text_color !default;
$text_inactive_active_color: $text_inactive_color !default;
// ? Icon Style
$icon_color: rgba(0, 0, 0, .6) !default;
$icon_hover_color: rgb(255, 0, 0) !default;
$icon_active_color: $icon_color !default;
$icon_header_color: #fff;
$icon_header_hover_color: rgb(210, 210, 210) !default;
$icon_header_active_color: $icon_header_color !default;
//? Icon Rating Style
$icon_rating_main_background: rgba(0, 0, 0, .25) !default;
$icon_rating_hover_background: rgb(247, 202, 0) !default;
$icon_rating_active_background: rgb(250, 227, 100) !default;
// ? Background Style
$background_main: #fff !default;
$background_secondary: rgba(0, 0, 0, .09) !default;
$background_card_all: #D32F2F !default;
$background_hover_card_all: #F44336 !default;
$background_card_single: #D32F2F !default;
// ? Border Style
$border_main: 1px solid #0101 !default;
$border_hover: 1px solid rgba(0, 0, 0, .7) !default;
$border_active: 1px solid rgba(0, 0, 0) !default;
// ? Button Style
$button_primary_background: rgba(0, 0, 0, .8) !default;
$button_primary_hover_background: rgba(0, 0, 0, .7) !default;
$button_primary_active_background: $button_primary_background !default;
$button_primary_color: #fff;
$button_primary_color_hover: rgb(200, 200, 200);
$button_primary_color_active: $button_primary_color;