@import '../../default_variables.scss';

.cardbook {
  display: flex;
  font-family: $font_card;

  a {
    text-decoration: none;
    color: $text_color;
  }
}

.cardbook--sm {
  max-width: 14rem;
  padding: 0 .2rem;
  margin-bottom: 1rem;
  flex-direction: column;

  .cardbook__present {
    width: 100%;
    height: 15rem;

    a {
      .cardbook__image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background_card_all;
        transition: background .25s ease-in-out;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .cardbook__mini-info {
    display: flex;
    flex-flow: column;

    .cardbook__title {
      padding: .5rem;
      font-size: 1rem;
      line-height: 1.2rem;
      text-align: -webkit-center;
      font-family: $font_card_title;
      user-select: none;
    }

    .cardbook__info {
      width: 100%;

      .cardbook__subtitle {
        user-select: none;
      }
    }

    .cardbook__market {
      display: flex;
      flex-flow: row;
      justify-content: space-between;

      .cardbook__price {
        width: 25%;
        display: flex;
        align-items: center;
        user-select: none;
        color: rgb(70, 70, 70);
        font-family: $font_card_title;
        font-size: 1.3rem;
        font-weight: 900;

      }
    }
  }

  &:hover {
    .cardbook__present {
      a {
        .cardbook__image {
          background-color: $background_hover_card_all;
        }
      }
    }
  }
}

@media (max-width: 780px) {

  .cardbook,
  .cardbook--sm {
    margin: 1rem auto;
    max-width: 22rem;
    width: 100%;

    .cardbook__present {
      width: 100%;
      height: 26rem;

      a {
        .cardbook__image {
          background-color: $background_card_all;
        }
      }
      @media (max-width: 550px) {
        &:hover {
          a{
            .cardbook__image {
              background-color: $background_card_all;
            }
          }
        }
      }
    }
  }
}