.not__found {
  min-height: 87vh;
  padding: 3rem;
  font-size: 2rem;
  line-height: 3rem;

  @media (max-width: 880px) {
    min-height: 90vh;
  }

  @media (max-width: 550px) {
    min-height: 91vh;
  }

  span {
    color: rgb(4, 4, 214);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}